/*
    Color Scheme
*/
$color-primary : #FF5D8F;
$color-secondary : #FF87AB;
$color-text-light: #eceaea;
$color-text-dark: #424242;
$color-background : #FADDE1;
$color-dark-2: #FFA6C1;
$color-light-2: #FFC4D6;
$color-dark-1: #FF97B7;
$color-light-1: #FFACC5;
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: rgb(32, 255, 125);
$color-red: rgb(255, 71, 71);