<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/style.css">

    <title>Reservation System | Dashboard</title>
</head>

<body>
    <header>
        <div class="nav">
            <div class="nav-logo">
                Reservation System
            </div>
            <div class="nav-links">
                <ul class="nav-list">
                    <li class="nav-list-item" id="logout">Logout</li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="select">
                <h2 class="select-title">Reserve A Device</h2>
                <label for="select-device" class="select-label">Device &#58;</label>
                <select name="select-device" id="device-select">
                </select>
                <button type="submit" class="button" id="reserve">Reserve</button>
            </div>
        </section>

        <section>
            <div class="table-container">
                <h2 class="table-title">Reserved Devices</h2>
                <table class="table">
                    <thead class="table-head">
                        <tr class="table-head-row">
                            <th class="table-head-element">ID</th>
                            <th class="table-head-element">Name</th>
                            <th class="table-head-element">PC IP</th>
                            <th class="table-head-element">Current User</th>
                            <th class="table-head-element"></th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                    </tbody>
                </table>
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="footer-text-large">Built by Alan Gaurav</div>
        <div class="footer-text-small">The entirety of the code, design and all interllectual property of this project
            belong soley to Alan Gaurav. Embrace feminism and equality or suffer the misdeed of mankind.</div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../scripts/user.js"></script>
</body>

</html>