select {
	color: $color-text-dark;
	padding: .5rem 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-bottom: .2rem solid $color-secondary;
    font-size: 1.4rem;
}

select option {
    color: $color-secondary;
    background-color: transparent;
    font-size: 1.2rem;
}