.login {
    background-color: $color-dark-2;
    height: 100%;
    width: 100%;

    position: relative;

    .main-title {
        padding-left: 15rem;

        &-container {
            background-color: $color-black;
            color: $color-white;
            clip-path: polygon(0 0, 60vw 0, 40vw 100%, 0 100%);
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        span {
            font-size: 7rem;
            text-align: left;
            font-weight: 400;
            display: block;
            animation: slideIn 1s ease-in;
        }
    }

    .form {
        &-container {
            position: absolute;
            right: 15rem;
            top: 50%;
            transform: translateY(-50%);
        }

        background-color: $color-white;
        box-shadow: 0 1rem .5rem rgba($color: #000000, $alpha: .15);
        animation: fadeIn 1s ease-in;
    }
}